/* import font */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --text-primary: #000000;
    --text-secondary: #21251f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share Tech Mono;
}

/* general */
body{
    background-color: #e7f3e0;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
}

header, main, footer{
    padding: 1rem;
    background-color: #c9e2bb;
    width: 90%;
    margin: auto;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

/* header */

/* main */
.subtitle{
    color: var(--text-secondary);
    font-size: 1rem;
    margin-bottom: 3rem;
}

.form-container h2, .right-section h2{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* footer */
footer .credits{
    text-align: center;
}

/* message status*/
#success-message{
    display: none;
}