/* import font */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --text-primary: #000000;
    --text-secondary: #21251f;
    --main-bg: #e7f3e0;
    --dark-bg: #cbe3bd;
    --main-border: #8f988a;
    --dark-border: #5e6b57;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share Tech Mono;
}

/* general */
body{
    background-color: var(--main-bg);
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
}

header, main, footer{
    padding: 1rem;
    background-color: #c9e2bb;
    width: 90%;
    margin: auto;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

/* header */

/* main */
.up-section{
    text-align: center;
}

.subtitle{
    color: var(--text-secondary);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.right-section h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* footer */
footer .credits{
    text-align: center;
    font-style: italic;
}

/* message status */
#success-message{
    display: none;
}

/* media query */
@media screen and (max-width: 1024px){
    

}

@media screen and (max-width: 768px){
    

}

@media screen and (max-width: 605px){

    
}

@media screen and (max-width: 480px){
    

}