/* import font */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --text-primary: #000000;
    --text-secondary: #21251f;
    --main-bg: #e7f3e0;
    --dark-bg: #cbe3bd;
    --main-border: #8f988a;
    --dark-border: #5e6b57;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share Tech Mono;
}

/* general */
body{
    background-color: var(--main-bg);
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
}

header, main, footer{
    padding: 1rem;
    background-color: #c9e2bb;
    width: 90%;
    margin: auto;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

/* header */

/* main */
.up-section{
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle{
    color: var(--text-secondary);
    font-size: 1rem;
    margin-bottom: 2rem;
}

input, textarea{
    margin-bottom: 0.8rem;
    border: none;
    padding: 0.5px 2px;
}

textarea{
    width: 16%;
}

button{
    border: none;
    padding: 0.5px 2px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.02);
}

#success-message, #unsuccess-message{
    margin: 2rem auto;
    font-weight: 600;
    font-size: x-large;
    font-style: italic;
    background-color: #e7f3e0;
    padding: 1rem 2rem;
    width: 70%;
}

#success-message{
    color: #5e6b57;
}

#unsuccess-message{
    color: #8d3636;
}

.hidden{
    display: none;
}

.down-section{
    padding: 1rem 3.5rem;
}

.down-section h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.question-content h3{
    margin-bottom: 0.1rem;
    margin-top: 0.6rem;
}

.question-card{
    margin-bottom: 0.8rem;
}

.question-card{
    cursor: pointer;
}

hr{
    height: 1px;
    border: none;
    background-color: #e7f3e0;
}

/* footer */
footer .credits{
    text-align: center;
    font-style: italic;
    font-size: x-small;
}

/* media query */
@media screen and (max-width: 1024px){
    
    textarea{
        width: 30%;
    }

}

@media screen and (max-width: 768px){
    
    textarea{
        width: 35%;
    }

    .down-section{
        padding: 2rem;
    }

}

@media screen and (max-width: 605px){

    textarea{
    width: 50%;
    }

    .down-section{
        padding: 1rem;
    }

}

@media screen and (max-width: 480px){
    
    textarea{
    width: 65%;
    }

    .down-section{
        padding: 0;
    }

}