/* import font */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --text-primary: #000000
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share Tech Mono;
}

/* general */
body{
    background-color: #e7f3e0;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
}

header, main, footer{
    padding: 1rem;
    background-color: #c9e2bb;
    width: 90%;
    margin: auto;
}

/* header */

/* main */

/* footer */
footer .credits{
    text-align: center;
}